<div class="row">
    <div class="col-md-12">
        <div class="btn btn-success" ng-click="vm.AddProduct()">Add Product</div>
        <br /><br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="60" class="text-center">Modify</th>
                        <th width="200"><div ng-click="vm.sortOrder('ProductName')" class="cursor">Product</div></th>
                        <th width="100" class="text-center"><div ng-click="vm.sortOrder('Quantity')" class="cursor">Quantity</div></th>
                        <th width="60" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr ng-repeat="Product in vm.Products | orderBy:vm.SortColumn">
                        <td class="text-center"><i ng-click="vm.ModifyProduct(Product.ProductGUID)" class="glyphicon glyphicon-edit cursor"></i></td>
                        <td>{{ Product.ProductName }}</td>
                        <td class="text-center">{{ Product.Quantity }}</td>
                        <td class="text-center"><i ng-click="vm.DeleteProduct(Product.ProductGUID)" class="glyphicon glyphicon-remove cursor"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>