<div ng-init="ModifyProduct()">
    <div class="row">
        <div class="col-md-12">
            <h1>Product Management - Modify Product</h1>
        </div>
    </div>

    <br />

    <div ng-show="error">
        <div class="alert alert-danger alert-dismissible">{{ error }}</div>
        <br />
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-success" ng-click="GotoProduct()">Return To Products</div>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form name="ModifyProductForm" ng-submit="ModifyProductSubmit()">
                <div><input type="text" id="ProductName" ng-model="product.ProductName" placeholder="Product Name" /></div>
                <div><input type="number" min="0" max="999" id="Quantity" ng-model="product.Quantity" placeholder="Enter Quantity" /></div>
                <br />
                <div><input type="submit" id="submit" value="Save" /></div>
            </form>
        </div>
    </div>

</div>